Source: calcfiles
Version: 1.0.0
Section: utils
Priority: optional
Maintainer: Pavlo Khomenko <pasha9op@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.5.0
Homepage: https://github.com/HoustonNFD/oc
Package: calcfiles
Architecture: all
Depends: bash
Description: Script to calculate files in a directory
